:root {
  font-size: 16px;
  /* TEXT COLOR */
  --primary-text-color: #000000;
  --secondary-text-color: #616161;

  /* LAYOUT GRID MARGIN: SPACING FOR LAYOUT MARGINS */
  --desktop-grid-margin: 40px;
  --mobile-grid-margin: 24px;

  /* SPACING: FOR SPACING GROUPS OF COLLECTIVE UI ELEMENTS */
  --desktop-spacing: 80px;
  --mobile-spacing: 48px;

  /* DESKTOP FONT SIZES */
  --desktop-title: 48px;
  --desktop-subtitle: 20px;
  --desktop-link: 16px;
  --desktop-overline: 12px;
  --desktop-card-title: 20px;

  /* MOBILE FONT SIZES */
  --mobile-title: 32px;
  --mobile-subtitle: 20px;
  --mobile-link: 16px;
  --mobile-overline: 12px;
  --mobile-card-title: 20px;

  /* MARGINS: FOR SPACING INDIE UI ELEMENTS */
  --center-margin: 0 auto;
  --small-margin: 8px;
  --base-margin: 16px;
  --large-margin: 32px;
}

@font-face {
  font-family: aRegular;
  src: url('/assets/fonts/Aileron-Regular.otf');
}

@font-face {
  font-family: aSemi;
  src: url('/assets/fonts/Aileron-SemiBold.otf');
}
@font-face {
  font-family: aBold;
  src: url('/assets/fonts/Aileron-Black.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 75%;
  margin: var(--center-margin);
  padding: var(--desktop-grid-margin) 0;
  background-color: #f2f2f2;
}

/* HEADING SECTION */

.heading h1 {
  font-family: aBold;
  font-size: var(--desktop-title);
  color: var(--primary-text-color);
}

.sub_title {
  width: 50%;
  margin-top: var(--small-margin);
}

.sub_title p {
  font-family: aRegular;
  font-size: var(--desktop-subtitle);
  line-height: 1.4;
  color: var(--primary-text-color);
}

.heading a {
  display: inline-block;
  font-family: aRegular;
  font-size: var(--desktop-link);
  color: var(--secondary-text-color);
  margin-top: var(--small-margin);
  margin-right: var(--base-margin);
}

/* CARDS SECTION */

main {
  padding-top: var(--desktop-spacing);
}

.article_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

article {
  width: 30%;
  margin-top: var(--base-margin);
  margin-bottom: var(--desktop-spacing);
}

article a {
  text-decoration: none;
}

.card_image img {
  display: block;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.overline {
  font-family: aRegular;
  font-size: var(--desktop-overline);
  margin-top: var(--base-margin);
  color: var(--secondary-text-color);
}

.card_title {
  font-family: aSemi;
  font-size: var(--desktop-card-title);
  line-height: 1.4;
  margin-top: var(--base-margin);
  color: var(--primary-text-color);
}

footer p {
  text-align: center;
  font-family: aRegular;
  font-size: var(--desktop-overline);
}

/*
! Experimental
SUPPORT FOR DARK MODE
*/

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }

  .heading h1 {
    color: #fff;
    opacity: 90%;
  }

  .sub_title p {
    color: #4bb2f9;
    opacity: 70%;
  }

  .heading a {
    color: #4bb2f9;
    opacity: 70%;
  }

  .card_image img {
  }

  .overline {
    color: #4bb2f9;
    opacity: 70%;
  }

  .card_title {
    color: #fff;
    opacity: 90%;
  }

  footer p {
    color: #4bb2f9;
    opacity: 70%;
  }
}

@media (max-width: 480px) {
  .heading h1 {
    font-size: var(--mobile-title);
    font-family: aSemi;
    word-wrap: break-word;
  }

  .sub_title {
    width: 100%;
  }

  .sub_title p {
    font-size: var(--mobile-subtitle);
    word-wrap: break-word;
  }

  .heading a {
    font-size: var(--mobile-link);
  }

  body {
    width: 90%;
    padding: var(--mobile-grid-margin) 0;
  }

  main {
    padding-top: var(--mobile-spacing);
  }

  article {
    width: 100%;
  }

  .card_image img {
    width: 100%;
  }

  .overline {
    font-size: var(--mobile-overline);
    margin-top: var(--base-margin);
    letter-spacing: 1.4px;
    word-wrap: break-word;
  }

  .card_title {
    font-size: var(--mobile-card-title);
    margin-top: var(--small-margin);
    line-height: 28px;
    word-wrap: break-word;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .heading h1 {
    font-size: var(--mobile-title);
    word-wrap: break-word;
  }

  .sub_title {
    width: 80%;
  }

  .sub_title p {
    font-size: var(--mobile-subtitle);
    word-wrap: break-word;
  }

  .heading a {
    font-size: var(--mobile-link);
  }

  body {
    width: 90%;
    padding: var(--mobile-grid-margin) 0;
  }

  main {
    padding-top: var(--mobile-spacing);
  }

  article {
    width: 48%;
  }

  .card_image img {
    width: 100%;
  }

  .overline {
    font-size: var(--mobile-overline);
    margin-top: var(--base-margin);
    letter-spacing: 1.4px;
    word-wrap: break-word;
  }

  .card_title {
    font-size: var(--mobile-card-title);
    margin-top: var(--small-margin);
    line-height: 28px;
    word-wrap: break-word;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .heading h1 {
    font-size: var(--desktop-title);
    word-wrap: break-word;
  }

  .sub_title {
    width: 70%;
  }

  .sub_title p {
    font-size: var(--desktop-subtitle);
    word-wrap: break-word;
  }

  .heading a {
    font-size: var(--desktop-link);
  }

  body {
    width: 80%;
    padding: var(--desktop-grid-margin) 0;
  }

  main {
    padding-top: var(--desktop-spacing);
  }

  article {
    width: 48%;
  }

  .card_image img {
    width: 100%;
  }

  .overline {
    font-size: var(--mobile-overline);
    margin-top: var(--base-margin);
    letter-spacing: 1.4px;
    word-wrap: break-word;
  }

  .card_title {
    font-size: var(--mobile-card-title);
    margin-top: var(--small-margin);
    line-height: 28px;
    word-wrap: break-word;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .heading h1 {
    font-size: var(--desktop-title);
    word-wrap: break-word;
  }

  .sub_title {
    width: 60%;
  }

  .sub_title p {
    font-size: var(--desktop-subtitle);
    word-wrap: break-word;
  }

  .heading a {
    font-size: var(--desktop-link);
  }

  body {
    width: 80%;
    padding: var(--desktop-grid-margin) 0;
  }

  main {
    padding-top: var(--desktop-spacing);
  }

  article {
    width: 30%;
  }

  .card_image img {
    width: 100%;
  }

  .overline {
    font-size: var(--mobile-overline);
    margin-top: var(--base-margin);
    letter-spacing: 1.4px;
    word-wrap: break-word;
  }

  .card_title {
    font-size: var(--mobile-card-title);
    margin-top: var(--small-margin);
    line-height: 28px;
    word-wrap: break-word;
  }
}
